<h1> Make changes to your appointment: </h1>

<form action="/appointments/<%= @appointment.id %>" method="POST">
    <f.input :appointment_id, :type => "hidden" name="_method" value="patch">

    Date:  
    <input type="date" value="<%= @appointment.date %>" name="date"><span class="validity"></span>
    <br>
    <br>
    
    Time: 
    <input id="appt-time" type="time" value="<%= @appointment.time %>" name="appt-time" min="08:00" max="20:00" required>
    <br>
    <br>

    Email: 
    <input type="email" value="<%= @appointment.email %>" placeholder="sophie@example.com">
    <br>
    <br>

    Insurance:  
    <input type=text value="<%= @appointment.insurance %>" name="insurance">
    <br>
    &emsp;&emsp;&emsp;&nbsp;Company, Policy number. If you prefer to be billed later, submit N/A.
    <br>
    <p>

    <input type="submit" name="btnSubmit" style="width:100px; height:50px;" value="Submit" />
<form> 