<h1> Make changes to your appointment: </h1>

<form action="/appointments/<%= @appointment.id %>" method="POST">
    <input type ="hidden" name="_method" value="patch">

    Date:
    <input type="date" name="date" value="<%= @appointment.date %>" required>
<br>
<br>

Time
    <input type="time" name="time" value="<%= @appointment.time %>" min="08:00" max="20:00" required>
<br>
<br>

Email:
    <input type="email" name="email" value="<%= @appointment.email %>" required>
<br>
<br>

Name:
<input type="text" name="name" value="<%= @appointment.name %>" required>
<br>
<br>

    <input type="submit" name="btnSubmit" style="width:100px; height:50px;" value="Submit" />
<form> 