<h3>Appointment: </h3><br>
Date: <%= @appointment.date %><br>
Time: <%= @appointment.time %><br>
Email: <%= @appointment.email %><br>
Insurance: <%= @appointment.insurance %><br>
<br>
<p>

<a href="/users/login"><input type="submit" style="width:200px; height:40px;" value="Return to Account Page"></a>

<center><a href="/appointments/<%= @appointment.id %>"><input type="submit" style="width:150px; height:50px;" value="Edit your Appointment"></a></center>

<form method="post" action="/appointments/<%= @appointment.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" style="width:200px; height:40px; float: right;" align="right" value="DELETE Appointment">
</form>