<h3>Appointment: </h3><br>
Date: <%= @appointment.date %><br>
Time: <%= @appointment.time %><br>
Email: <%= @appointment.email %><br>
Name: <%= @appointment.name %><br>
<br>
<p>

<a href="/users/login"><input type="submit" style="width:auto; height:auto;" value="Return to Account Page"></a>

<center><a href="/appointments/<%= @appointment.id %>/edit">
<input type="submit" style="width:auto; height:auto;" value="Edit your Appointment"></a></center>

<form method="post" action="/appointments/<%= @appointment.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" style="width:auto; height:auto; float: right;" align="right" value="DELETE APPOINTMENT">
</form>